node_modules
.next
out

data/database.db

public/uploads/images/*
public/uploads/thumbs/*

!public/uploads/images/.gitkeep
!public/uploads/thumbs/.gitkeep

.env
.env.local
.env.production

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
# SQLite database
data/database.db
data/database.db-shm
data/database.db-walbackups/
